In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
smokers=pd.read_csv("smokers.csv")
prescriptions=pd.read_csv("prescriptions.csv")
metrics=pd.read_csv("metrics.csv")
fatalities=pd.read_csv("fatalities.csv")
admissions=pd.read_csv("admissions.csv")

In [3]:
smokers.isnull().sum()

Year            0
Method          0
Sex            28
16 and Over     0
16-24           0
25-34           0
35-49           0
50-59           0
60 and Over     0
dtype: int64

In [4]:
# Fill missing 'Sex' with mode (most frequent category)
smokers['Sex'].fillna(smokers['Sex'].mode()[0], inplace=True)

C:\Users\Lalit Karki\AppData\Local\Temp\ipykernel_4592\1550698879.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  smokers['Sex'].fillna(smokers['Sex'].mode()[0], inplace=True)

In [5]:
smokers.isnull().sum()

Year           0
Method         0
Sex            0
16 and Over    0
16-24          0
25-34          0
35-49          0
50-59          0
60 and Over    0
dtype: int64

In [6]:
prescriptions.isnull().sum()

Year                                                           0
All Pharmacotherapy Prescriptions                              0
Nicotine Replacement Therapy (NRT) Prescriptions               0
Bupropion (Zyban) Prescriptions                                0
Varenicline (Champix) Prescriptions                            2
Net Ingredient Cost of All Pharmacotherapies                   0
Net Ingredient Cost of Nicotine Replacement Therapies (NRT)    0
Net Ingredient Cost of Bupropion (Zyban)                       0
Net Ingredient Cost of Varenicline (Champix)                   2
dtype: int64

In [7]:
cols_to_fill = [
    'Varenicline (Champix) Prescriptions',
    'Net Ingredient Cost of Varenicline (Champix)']

prescriptions[cols_to_fill] = prescriptions[cols_to_fill].apply(lambda col: col.fillna(col.mean()))

In [8]:
prescriptions.isnull().sum()

Year                                                           0
All Pharmacotherapy Prescriptions                              0
Nicotine Replacement Therapy (NRT) Prescriptions               0
Bupropion (Zyban) Prescriptions                                0
Varenicline (Champix) Prescriptions                            0
Net Ingredient Cost of All Pharmacotherapies                   0
Net Ingredient Cost of Nicotine Replacement Therapies (NRT)    0
Net Ingredient Cost of Bupropion (Zyban)                       0
Net Ingredient Cost of Varenicline (Champix)                   0
dtype: int64

In [9]:
metrics.isnull().sum()

Year                                                     0
Tobacco Price\nIndex                                     0
Retail Prices\nIndex                                     0
Tobacco Price Index Relative to Retail Price Index       0
Real Households' Disposable Income                       0
Affordability of Tobacco Index                           0
Household Expenditure on Tobacco                         5
Household Expenditure Total                              5
Expenditure on Tobacco as a Percentage of Expenditure    5
dtype: int64

In [10]:
metrics.dropna(inplace=True)

In [11]:
metrics

,Year,Tobacco Price\nIndex,Retail Prices\nIndex,Tobacco Price Index Relative to Retail Price Index,Real Households' Disposable Income,Affordability of Tobacco Index,Household Expenditure on Tobacco,Household Expenditure Total,Expenditure on Tobacco as a Percentage of Expenditure
0,2015,1294.3,386.7,334.7,196.4,58.7,19252.0,1152387.0,1.7
1,2014,1226.0,383.0,320.1,190.0,59.4,19411.0,1118992.0,1.7
2,2013,1139.3,374.2,304.5,190.3,62.5,18683.0,1073106.0,1.7
3,2012,1057.8,363.1,291.3,192.9,66.2,18702.0,1029378.0,1.8
4,2011,974.9,351.9,277.1,189.3,68.3,18217.0,990828.0,1.8
5,2010,878.3,334.5,262.6,195.0,74.3,17176.0,954781.0,1.8
6,2009,815.9,319.7,255.2,195.7,76.7,16209.0,911665.0,1.8
7,2008,784.7,321.3,244.2,192.5,78.8,15879.0,928265.0,1.7
8,2007,751.5,309.1,243.1,195.9,80.6,15766.0,898478.0,1.8
9,2006,713.7,296.4,240.8,192.3,79.9,15542.0,851456.0,1.8
10,2005,683.1,287.2,237.8,190.6,80.1,15300.0,813580.0,1.9
11,2004,654.6,279.3,234.4,188.7,80.5,15375.0,772164.0,2.0
12,2003,632.0,271.2,233.0,187.4,80.4,15223.0,731780.0,2.1
13,2002,610.4,263.6,231.6,184.4,79.6,14465.0,695912.0,2.1
14,2001,592.5,259.3,228.5,180.8,79.1,14339.0,665058.0,2.2
15,2000,562.0,254.8,220.6,173.3,78.5,14026.0,639405.0,2.2
16,1999,517.3,247.4,209.0,163.7,78.3,14047.0,602922.0,2.3
17,1998,464.1,243.7,190.4,158.8,83.4,13318.0,569829.0,2.3
18,1997,427.3,235.6,181.3,155.6,85.8,12696.0,534755.0,2.4
19,1996,398.0,228.4,174.2,150.0,86.1,12265.0,499354.0,2.5
20,1995,373.0,223.1,167.2,145.7,87.1,11519.0,465225.0,2.5
21,1994,349.6,215.6,162.2,142.1,87.6,10933.0,441911.0,2.5
22,1993,325.0,210.5,154.4,139.5,90.3,10759.0,420673.0,2.6
23,1992,299.7,207.2,144.6,135.9,93.9,10280.0,396519.0,2.6
24,1991,270.0,199.7,135.2,132.0,97.6,9648.0,374468.0,2.6
25,1990,236.1,188.6,125.1,129.5,103.5,8649.0,349982.0,2.5
26,1989,221.1,172.3,128.3,124.8,97.2,8170.0,322967.0,2.5
27,1988,214.9,159.9,134.4,118.8,88.4,7936.0,294521.0,2.7
28,1987,208.0,152.4,136.5,112.8,82.6,7665.0,260425.0,2.9
29,1986,201.6,146.3,137.8,111.6,81.0,7485.0,237015.0,3.2
30,1985,183.5,141.5,129.7,107.5,82.9,7006.0,214449.0,3.3

In [12]:
fatalities.isnull().sum()

Year                 0
ICD10 Code           0
ICD10 Diagnosis      0
Diagnosis Type       0
Metric               0
Sex                583
Value                0
dtype: int64

In [13]:
fatalities['Sex'].fillna(fatalities['Sex'].mode()[0], inplace=True)

C:\Users\Lalit Karki\AppData\Local\Temp\ipykernel_4592\667518591.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  fatalities['Sex'].fillna(fatalities['Sex'].mode()[0], inplace=True)

In [14]:
fatalities.isnull().sum()

Year               0
ICD10 Code         0
ICD10 Diagnosis    0
Diagnosis Type     0
Metric             0
Sex                0
Value              0
dtype: int64

In [15]:
admissions.isnull().sum()

Year                 0
ICD10 Code           0
ICD10 Diagnosis      0
Diagnosis Type       0
Metric               0
Sex                693
Value                1
dtype: int64

In [16]:
admissions['Sex'].fillna(admissions['Sex'].mode()[0], inplace=True)

C:\Users\Lalit Karki\AppData\Local\Temp\ipykernel_4592\1042853545.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  admissions['Sex'].fillna(admissions['Sex'].mode()[0], inplace=True)

In [17]:
admissions.dropna(subset=['Value'], inplace=True)

In [18]:
admissions.isnull().sum()

Year               0
ICD10 Code         0
ICD10 Diagnosis    0
Diagnosis Type     0
Metric             0
Sex                0
Value              0
dtype: int64

In [19]:
smokers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         84 non-null     int64
 1   Method       84 non-null     object
 2   Sex          84 non-null     object
 3   16 and Over  84 non-null     int64
 4   16-24        84 non-null     int64
 5   25-34        84 non-null     int64
 6   35-49        84 non-null     int64
 7   50-59        84 non-null     int64
 8   60 and Over  84 non-null     int64
dtypes: int64(7), object(2)
memory usage: 6.0+ KB

In [20]:
prescriptions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 9 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Year                                                         11 non-null     object
 1   All Pharmacotherapy Prescriptions                            11 non-null     int64
 2   Nicotine Replacement Therapy (NRT) Prescriptions             11 non-null     int64
 3   Bupropion (Zyban) Prescriptions                              11 non-null     int64
 4   Varenicline (Champix) Prescriptions                          11 non-null     float64
 5   Net Ingredient Cost of All Pharmacotherapies                 11 non-null     int64
 6   Net Ingredient Cost of Nicotine Replacement Therapies (NRT)  11 non-null     int64
 7   Net Ingredient Cost of Bupropion (Zyban)                     11 non-null     int64
 8   Net Ingredient Cost of Varenicline (Champix)                 11 non-null     float64
dtypes: float64(2), int64(6), object(1)
memory usage: 924.0+ bytes

In [21]:
metrics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 0 to 30
Data columns (total 9 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Year                                                   31 non-null     int64
 1   Tobacco Price
Index                                    31 non-null     float64
 2   Retail Prices
Index                                    31 non-null     float64
 3   Tobacco Price Index Relative to Retail Price Index     31 non-null     float64
 4   Real Households' Disposable Income                     31 non-null     float64
 5   Affordability of Tobacco Index                         31 non-null     float64
 6   Household Expenditure on Tobacco                       31 non-null     float64
 7   Household Expenditure Total                            31 non-null     float64
 8   Expenditure on Tobacco as a Percentage of Expenditure  31 non-null     float64
dtypes: float64(8), int64(1)
memory usage: 2.4 KB

In [22]:
fatalities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1749 entries, 0 to 1748
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             1749 non-null   int64
 1   ICD10 Code       1749 non-null   object
 2   ICD10 Diagnosis  1749 non-null   object
 3   Diagnosis Type   1749 non-null   object
 4   Metric           1749 non-null   object
 5   Sex              1749 non-null   object
 6   Value            1749 non-null   object
dtypes: int64(1), object(6)
memory usage: 95.8+ KB

In [23]:
admissions.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2078 entries, 0 to 2078
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             2078 non-null   object
 1   ICD10 Code       2078 non-null   object
 2   ICD10 Diagnosis  2078 non-null   object
 3   Diagnosis Type   2078 non-null   object
 4   Metric           2078 non-null   object
 5   Sex              2078 non-null   object
 6   Value            2078 non-null   object
dtypes: object(7)
memory usage: 129.9+ KB

In [24]:
# Convert 'Year' column to str
smokers['Year'] = smokers['Year'].astype(str)
prescriptions['Year'] = prescriptions['Year'].astype(str)
metrics['Year'] = metrics['Year'].astype(str)
fatalities['Year'] = fatalities['Year'].astype(str)
admissions['Year'] = admissions['Year'].astype(str)

In [25]:
datasets = [smokers, prescriptions, metrics, fatalities, admissions]

for df in datasets:
    df['Year'] = df['Year'].astype(str)

In [26]:
# Merge with other datasets
df = df.merge(prescriptions, on='Year', how='left')
df = df.merge(metrics, on='Year', how='left')
df = df.merge(fatalities, on=['Year', 'Sex'], how='left')  
df = df.merge(admissions, on=['Year', 'Sex'], how='left')

In [27]:
print(df.shape)
print(df.columns)
df.head()

(218044, 33)
Index(['Year', 'ICD10 Code_x', 'ICD10 Diagnosis_x', 'Diagnosis Type_x',
       'Metric_x', 'Sex', 'Value_x', 'All Pharmacotherapy Prescriptions',
       'Nicotine Replacement Therapy (NRT) Prescriptions',
       'Bupropion (Zyban) Prescriptions',
       'Varenicline (Champix) Prescriptions',
       'Net Ingredient Cost of All Pharmacotherapies',
       'Net Ingredient Cost of Nicotine Replacement Therapies (NRT)',
       'Net Ingredient Cost of Bupropion (Zyban)',
       'Net Ingredient Cost of Varenicline (Champix)', 'Tobacco Price\nIndex',
       'Retail Prices\nIndex',
       'Tobacco Price Index Relative to Retail Price Index',
       'Real Households' Disposable Income', 'Affordability of Tobacco Index',
       'Household Expenditure on Tobacco', 'Household Expenditure Total',
       'Expenditure on Tobacco as a Percentage of Expenditure', 'ICD10 Code_y',
       'ICD10 Diagnosis_y', 'Diagnosis Type_y', 'Metric_y', 'Value_y',
       'ICD10 Code', 'ICD10 Diagnosis', 'Diagnosis Type', 'Metric', 'Value'],
      dtype='object')

,Year,ICD10 Code_x,ICD10 Diagnosis_x,Diagnosis Type_x,Metric_x,Sex,Value_x,All Pharmacotherapy Prescriptions,Nicotine Replacement Therapy (NRT) Prescriptions,Bupropion (Zyban) Prescriptions,...,ICD10 Code_y,ICD10 Diagnosis_y,Diagnosis Type_y,Metric_y,Value_y,ICD10 Code,ICD10 Diagnosis,Diagnosis Type,Metric,Value
0,2014/15,All codes,All admissions,All admissions,Number of admissions,Female,11011882,1348,766,21,...,NaN,NaN,NaN,NaN,NaN,All codes,All admissions,All admissions,Number of admissions,11011882
1,2014/15,All codes,All admissions,All admissions,Number of admissions,Female,11011882,1348,766,21,...,NaN,NaN,NaN,NaN,NaN,C33-C34 & C00-C14 & C15 & C32 & C53 & C67 & C6...,All diseases which can be caused by smoking,All diseases which can be caused by smoking,Number of admissions,1713330
2,2014/15,All codes,All admissions,All admissions,Number of admissions,Female,11011882,1348,766,21,...,NaN,NaN,NaN,NaN,NaN,C00-D48,All cancers,All cancers,Number of admissions,1691035
3,2014/15,All codes,All admissions,All admissions,Number of admissions,Female,11011882,1348,766,21,...,NaN,NaN,NaN,NaN,NaN,J00-J99,All respiratory diseases,All respiratory diseases,Number of admissions,611002
4,2014/15,All codes,All admissions,All admissions,Number of admissions,Female,11011882,1348,766,21,...,NaN,NaN,NaN,NaN,NaN,I00-I99,All circulatory diseases,All circulatory diseases,Number of admissions,907157

In [25]:
# Ensure 'Year' is of the same type in all datasets (e.g., string)
for df in [smokers, prescriptions, metrics, fatalities, admissions]:
    df['Year'] = df['Year'].astype(str)

In [26]:
# Merge the datasets on the 'Year' column
df = pd.merge(smokers, prescriptions, on='Year', how='outer')
df = pd.merge(df, metrics, on='Year', how='outer')
df = pd.merge(df, fatalities, on='Year', how='outer')
df = pd.merge(df, admissions, on='Year', how='outer')

In [27]:
df

,Year,Method,Sex_x,16 and Over,16-24,25-34,35-49,50-59,60 and Over,All Pharmacotherapy Prescriptions,...,Diagnosis Type_x,Metric_x,Sex_y,Value_x,ICD10 Code_y,ICD10 Diagnosis_y,Diagnosis Type_y,Metric_y,Sex,Value_y
0,1974,Unweighted,Female,46.0,44.0,51.0,52.0,50.0,33.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1974,Unweighted,Male,51.0,47.0,55.0,55.0,53.0,44.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1974,Unweighted,Female,41.0,41.0,47.0,49.0,48.0,26.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1976,Unweighted,Female,42.0,42.0,45.0,48.0,48.0,30.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1976,Unweighted,Male,46.0,43.0,48.0,50.0,50.0,40.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7380,2014/15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1348.0,...,NaN,NaN,NaN,NaN,K05,Periodontal Disease / Periodonitis,Digestive diseases which can be caused caused ...,Attributable number,Female,1600
7381,2014/15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1348.0,...,NaN,NaN,NaN,NaN,H25,Age Related Cataract 45+,Other diseases which can be caused by smoking,Attributable number,Female,9000
7382,2014/15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1348.0,...,NaN,NaN,NaN,NaN,S72.0-S72.2,Hip Fracture 55+,Other diseases which can be caused by smoking,Attributable number,Female,4800
7383,2014/15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1348.0,...,NaN,NaN,NaN,NaN,O03,Spontaneous Abortion,Other diseases which can be caused by smoking,Attributable number,Female,500
7384,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7385 entries, 0 to 7384
Data columns (total 37 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Year                                                         7385 non-null   object
 1   Method                                                       5298 non-null   object
 2   Sex_x                                                        5298 non-null   object
 3   16 and Over                                                  5298 non-null   float64
 4   16-24                                                        5298 non-null   float64
 5   25-34                                                        5298 non-null   float64
 6   35-49                                                        5298 non-null   float64
 7   50-59                                                        5298 non-null   float64
 8   60 and Over                                                  5298 non-null   float64
 9   All Pharmacotherapy Prescriptions                            2078 non-null   float64
 10  Nicotine Replacement Therapy (NRT) Prescriptions             2078 non-null   float64
 11  Bupropion (Zyban) Prescriptions                              2078 non-null   float64
 12  Varenicline (Champix) Prescriptions                          2078 non-null   float64
 13  Net Ingredient Cost of All Pharmacotherapies                 2078 non-null   float64
 14  Net Ingredient Cost of Nicotine Replacement Therapies (NRT)  2078 non-null   float64
 15  Net Ingredient Cost of Bupropion (Zyban)                     2078 non-null   float64
 16  Net Ingredient Cost of Varenicline (Champix)                 2078 non-null   float64
 17  Tobacco Price
Index                                          5289 non-null   float64
 18  Retail Prices
Index                                          5289 non-null   float64
 19  Tobacco Price Index Relative to Retail Price Index           5289 non-null   float64
 20  Real Households' Disposable Income                           5289 non-null   float64
 21  Affordability of Tobacco Index                               5289 non-null   float64
 22  Household Expenditure on Tobacco                             5289 non-null   float64
 23  Household Expenditure Total                                  5289 non-null   float64
 24  Expenditure on Tobacco as a Percentage of Expenditure        5289 non-null   float64
 25  ICD10 Code_x                                                 5247 non-null   object
 26  ICD10 Diagnosis_x                                            5247 non-null   object
 27  Diagnosis Type_x                                             5247 non-null   object
 28  Metric_x                                                     5247 non-null   object
 29  Sex_y                                                        5247 non-null   object
 30  Value_x                                                      5187 non-null   float64
 31  ICD10 Code_y                                                 2078 non-null   object
 32  ICD10 Diagnosis_y                                            2078 non-null   object
 33  Diagnosis Type_y                                             2078 non-null   object
 34  Metric_y                                                     2078 non-null   object
 35  Sex                                                          2078 non-null   object
 36  Value_y                                                      2038 non-null   float64
dtypes: float64(24), object(13)
memory usage: 2.1+ MB

In [34]:
df.isnull().sum()

Year                                                              0
Method                                                         2087
Sex_x                                                          2087
16 and Over                                                    2087
16-24                                                          2087
25-34                                                          2087
35-49                                                          2087
50-59                                                          2087
60 and Over                                                    2087
All Pharmacotherapy Prescriptions                              5307
Nicotine Replacement Therapy (NRT) Prescriptions               5307
Bupropion (Zyban) Prescriptions                                5307
Varenicline (Champix) Prescriptions                            5307
Net Ingredient Cost of All Pharmacotherapies                   5307
Net Ingredient Cost of Nicotine Replacement Therapies (NRT)    5307
Net Ingredient Cost of Bupropion (Zyban)                       5307
Net Ingredient Cost of Varenicline (Champix)                   5307
Tobacco Price\nIndex                                           2096
Retail Prices\nIndex                                           2096
Tobacco Price Index Relative to Retail Price Index             2096
Real Households' Disposable Income                             2096
Affordability of Tobacco Index                                 2096
Household Expenditure on Tobacco                               2096
Household Expenditure Total                                    2096
Expenditure on Tobacco as a Percentage of Expenditure          2096
ICD10 Code_x                                                   2138
ICD10 Diagnosis_x                                              2138
Diagnosis Type_x                                               2138
Metric_x                                                       2138
Sex_y                                                          2138
Value_x                                                        2198
ICD10 Code_y                                                   5307
ICD10 Diagnosis_y                                              5307
Diagnosis Type_y                                               5307
Metric_y                                                       5307
Sex                                                            5307
Value_y                                                        5347
dtype: int64

In [146]:
# Load cleaned data
smokers = pd.read_csv("smokers_cleaned.csv")
prescriptions = pd.read_csv("prescriptions_cleaned.csv")
metrics = pd.read_csv("metrics_cleaned.csv")
fatalities = pd.read_csv("fatalities_cleaned.csv")
admissions = pd.read_csv("admissions_cleaned.csv")

In [147]:
# Ensure 'Year' is of the same type in all datasets (e.g., string)
for df in [smokers, prescriptions, metrics, fatalities, admissions]:
    df['Year'] = df['Year'].astype(str)

In [148]:
# Merge smokers and prescriptions on 'Year'
df = pd.merge(smokers, prescriptions, on='Year', how='inner')

# Merge with metrics
df = pd.merge(df, metrics, on='Year', how='inner')

In [149]:
# Merge wide-format datasets
df = smokers.merge(prescriptions, on='Year', how='inner') \
            .merge(metrics, on='Year', how='inner')

In [150]:
# Convert 'Value' column to numeric for both
fatalities['Value'] = pd.to_numeric(fatalities['Value'], errors='coerce')
admissions['Value'] = pd.to_numeric(admissions['Value'], errors='coerce')

In [151]:
# Show result
print("Merged dataset shape:", df.shape)
print(df.head())

Merged dataset shape: (0, 25)
Empty DataFrame
Columns: [Year, Method, Sex, 16 and Over, 16-24, 25-34, 35-49, 50-59, 60 and Over, All Pharmacotherapy Prescriptions, Nicotine Replacement Therapy (NRT) Prescriptions, Bupropion (Zyban) Prescriptions, Varenicline (Champix) Prescriptions, Net Ingredient Cost of All Pharmacotherapies, Net Ingredient Cost of Nicotine Replacement Therapies (NRT), Net Ingredient Cost of Bupropion (Zyban), Net Ingredient Cost of Varenicline (Champix), Tobacco Price
Index, Retail Prices
Index, Tobacco Price Index Relative to Retail Price Index, Real Households' Disposable Income, Affordability of Tobacco Index, Household Expenditure on Tobacco, Household Expenditure Total, Expenditure on Tobacco as a Percentage of Expenditure]
Index: []

[0 rows x 25 columns]

In [92]:
# Ensure 'Year' is of the same type in all datasets (e.g., string)
for df in [smokers, prescriptions, metrics, fatalities, admissions]:
    df['Year'] = df['Year'].astype(str)

In [93]:
# Merge on 'Year' only (since not all datasets have 'Sex')
df = smokers.merge(prescriptions, on="Year", how="inner") \
            .merge(metrics, on="Year", how="inner") \
            .merge(fatalities, on="Year", how="inner") \
            .merge(admissions, on="Year", how="inner")

In [94]:
# Check the merged DataFrame
print("Merged DataFrame shape:", df.shape)
df.head()

Merged DataFrame shape: (0, 37)

Empty DataFrame
Columns: [Year, Method, Sex_x, 16 and Over, 16-24, 25-34, 35-49, 50-59, 60 and Over, All Pharmacotherapy Prescriptions, Nicotine Replacement Therapy (NRT) Prescriptions, Bupropion (Zyban) Prescriptions, Varenicline (Champix) Prescriptions, Net Ingredient Cost of All Pharmacotherapies, Net Ingredient Cost of Nicotine Replacement Therapies (NRT), Net Ingredient Cost of Bupropion (Zyban), Net Ingredient Cost of Varenicline (Champix), Tobacco Price
Index, Retail Prices
Index, Tobacco Price Index Relative to Retail Price Index, Real Households' Disposable Income, Affordability of Tobacco Index, Household Expenditure on Tobacco, Household Expenditure Total, Expenditure on Tobacco as a Percentage of Expenditure, ICD10 Code_x, ICD10 Diagnosis_x, Diagnosis Type_x, Metric_x, Sex_y, Value_x, ICD10 Code_y, ICD10 Diagnosis_y, Diagnosis Type_y, Metric_y, Sex, Value_y]
Index: []

[0 rows x 37 columns]